html {
    font-family: 'Roboto', sans-serif;
}

html .titleCustom {
    border-bottom: 2px solid lightgreen;
}

/* NavBar Section */

#navbar {
    border-bottom: 2px solid lightgreen;
    margin-bottom: 10px;
}

/* Header section with video */

header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 3;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: darkgrey;
    opacity: 0.5;
    z-index: 2;
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('https://images.unsplash.com/photo-1589822722100-ddd20673cb81?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1524&q=80') black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}

#videoPres p {
    background: -webkit-linear-gradient(#fff, lightgreen);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Services Section */
.servicesItem {
    transition: all .2s ease-in-out;
}
.servicesItem:hover {
    transform: rotate(2deg) scale(1.1);
}


/* AboutMe Section */

.about img {
    display: block;
    max-width: 100%;
    height: auto;
}

.aboutMeTextArea {
    border: 1px solid lightgreen;
}


.lightgreenIcon {
    color: lightgreen;
}

/* Portfolio Section */

.projects-section {
    padding: 5rem 0;
}
.projects-section .featured-text {
    padding: 2rem;
}
@media (min-width: 992px) {
    .projects-section .featured-text {
        padding: 0 0 0 2rem;
        border-left: 0.5rem solid lightgreen;
    }
}
.projects-section .project-text {
    padding: 3rem;
    font-size: 90%;
}
@media (min-width: 992px) {
    .projects-section .project-text {
        padding: 5rem;
    }
    .projects-section .project-text hr {
        border-color: #64a19d;
        border-width: 0.25rem;
        width: 30%;
    }
}

.biggerOnHover {
    transition: all .2s ease-in-out;
}
.biggerOnHover:hover {
    transform: scale(1.1);
}


/* Contact Section */

#contact #submitButton{
    background-color: lightgreen;
}
